@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*lichtgrijs #F7F7F7 en donkergrijs #d3d3d3*/

* {
    box-sizing: border-box;
}

.recipe-card {
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;
}

.recipe-image {
    max-width: 100%;
}

body {
    font-family: 'Poppins', Verdana, sans-serif;
}

article {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
}

.icon-summary {
    background-color: #F7F7F7;
    margin-top: -7px;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.icon-summary img {
    heigth: 20px;
}

h1  {
    font-size: 1em;
    margin: 25px;
}

span img {
    height: 15px;
}

.favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 15px;
}
